* {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #A2B4BC;
}

a.active {
  color: #55CFDE;
}

input {
  border-style: none;
  border: 1px solid grey;
}

.btn-grey {
  box-sizing: border-box;
  padding: 2px;
  width: 4rem;
  text-align: center;
  border: 1px solid grey;
}

.btn-grey:hover {
  background: grey;
  color: white;
}

.Home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Home header {
  display: flex;
  justify-content: flex-end;
}

.Home header a {
  padding-top: 1rem;
  padding-right: 3rem;
}

.Home main {
  flex-basis: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4em;
  align-items: center;
  transition: flex-basis 500ms ease-out;
}

.Home .empty {
  flex-basis: 50vh;
}

.Home main h1 {
  font-size: 5em;
}

.Signup, .Login {
  display: flex;
  flex-basis: 50vh;
  flex-direction: column;
  align-items: center;
}

.Home input {
  text-indent: 1em;
  height: 2em;
  margin-bottom: 1em;
  border-radius: 3px;
}

.Home .button {
  cursor: pointer;
  width: 5em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 1px solid grey;
}

.Home .button:hover {
  background: grey;
  color: white;
}

.App {
  margin: 0 auto;
  display: flex;
}

.Sidebar {
  background-color: #2E3C54;
  width: 12rem;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.Sidebar--hidden {
  display: none;
}

.Sidebar__closeButton {
  position: absolute;
  color: #A2B4BC;
  align-self: flex-end;
  padding: 0.5rem 0.5rem 0 0;
}

.Sidebar__closeButton:hover {
  color: white;
}

.Sidebar__addProject {
  height: 5vh;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
  color: orange;
  font-size: 1.4rem;
}

.addIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: orange;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.Sidebar__headerAddIcon {
  margin-left: 0.5rem;
  border: 2px solid orange;
  border-radius: 50%;
}

.Sidebar .AddItemInput {
  margin: 2rem 1rem;
}

.Sidebar__projectList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.1rem;
}

.Sidebar__projectList li {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.Sidebar a {
  color: #A2B4BC;
}

.Sidebar a.active {
  color: #55CFDE;
}

.Pop__mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pop {
  background: white;
  padding: 1rem;
  min-height: 20rem;
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Pop__button {
  width: 30%;
  text-align: center;
  background: orange;
  align-self: flex-end;
  height: 1.5rem;
  color: white;
}

.ProjectEditor {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ProjectEditor__label {
  height: 3rem;
  line-height: 3rem;
}

.ProjectEditor input {
  max-width: 18rem;
  height: 1.6rem;
  text-indent: 0.5rem;
}

.ProjectEditor__alert {
  height: 1.2rem;
  color: orangered;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.userList li {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0.2rem;
  padding: 0.2rem;
}

.AppContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Headbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 4rem;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Headbar__openSidebar {
  align-self: flex-start;
  padding: 0.5rem 0 0 0.5rem;
  position: absolute;
}

.Headbar__myTask {
  margin-left: 2rem;
}

.Headbar__myTask--active {
  color: #55CFDE;
}

.Headbar__user {
  display: flex;
  margin-right: 2rem;
}

.Headbar__user div {
  padding: 0 1rem;
}

.Searchbar {
  position: relative;
}

.Searchbar input {
  height: 1.4rem;
}

.Searchform.Drop__list {
  width: 20rem;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0.8rem;
}

.Searchform__selection .chosen {
  background: orange;
}

.Searchform__completed {
  display: flex;
}

.Searchform__buttons {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.Warning {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 200px;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;
  background: orangered;
}

.Home .Warning {
  left: 0;
  min-width: 30%;
  right: auto;
}

.MainContent {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.TaskPage {
  display: flex;
  flex-direction: column;
  flex: 0 2 60%;
  margin: 1rem 1rem 0 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.TableFilter {
  flex: 0 0 2rem;
  padding-left: 1rem;
}

.Drop__list {
  z-index: 1;
  position: absolute;
  background: white;
  border: 1px solid grey;
  min-width: 4rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Drop__list li {
  padding: 0.3rem;
}

.Table__scrollWrapper {
  overflow: auto;
}

.TaskTable {
  width: 100%;
}

tbody {
  padding: 0 1rem;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.TaskItem {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex: 0 0 2.4rem;
}

/*.TaskItem:not(.TaskItemSelected):hover {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.3);
}*/

.CheckIcon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CheckIcon img {
  width: 1.4rem;
  height: 1.4rem;
}

.TaskItem--selected {
  border-top: 1px solid #55CFDE;
  border-bottom: 1px solid #55CFDE;
}

.DragHandle {
  text-align: center;
  font-size: 1.2rem;
  width: 1.2rem;
  color: rgb(158, 146, 154);
  cursor: pointer;
}

.DragHandle:hover {
  color: #55CFDE;
}

.TaskItem__title {
  flex-grow: 2;
  display: flex;
}

.TaskItem__title input {
  flex-grow: 1;
  height: 1.8rem;
  font-size: 1.1rem;
  border-style: none;
  outline: none;
  /*background-color: rgb(143, 213, 196);*/
}

.TaskItem--isTitle input {
  /*font-size: 1.3rem;*/
  font-weight: 600;
}

.TaskItem__dueAt {
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
}

.AssignTab__head {
  padding: 0.2rem;
}

.AddItem {
  height: 2.4rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.DetailPage {
  margin: 1rem 0;
  padding: 0 1rem;
  flex: 2 1 45%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.Toolbar {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.Drop__assignee {
  min-width: 5rem;
  text-align: center;
}

.Toolbar__closeButton {
  position: absolute;
  right: 1rem;
  align-self: flex-start;
}

.Editor {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.Drop__project {
}

.Editor__title {
  margin-top: 1rem;
  width: 90%;
  padding: 0.6rem;
  border-style: none;
  font-size: 1.3rem;
  border: 1px solid white;
  outline: none;
}

.Editor__title:focus, .Editor__title:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.Editor__detail {
  margin-top: 1rem;
  padding: .5rem;
  width: 90%;
  min-height: 7rem;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid white;
}

.Editor__detail:focus, .Editor__detail:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
